<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>海外组</title>
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
<script type="text/javascript" src="/static/js/jqc.js"></script>
</head>
<body>
<div id="wrap">

    <div id="header">
      <div id="logo">
        <h1><img src="/static/images/Overseas.png" alt="Overseas" class="logoimg" /></h1>
        <div>优秀只是起点，卓越才是目标</div>
      </div>
      <ul id="nav">
        <li><a href="/home/">主页</a></li>
        <li><a href="http://192.168.7.2/wiki">Wiki</a></li>
        <li><a href="/about/">关于</a></li>
        {% if user %}
        <li><a href="/logout/">退出</a></li>
        {% else %}
        <li><a href="/">登录</a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /header -->
    
    <div id="content">
      <div class="side fl">
        <div id="top">
          <h2>关注海外</h2>
          <ul class="menu">
            <li><a href="/news/">海外新闻</a></li>
            <li><a href="/project/attention/">本周新关注项目</a></li>
            <li><a href="/project/submit/">本周提交项目</a></li>
            <li><a href="/project/ing/">正在进行的项目</a></li>
            <li><a href="/project/all/">所有项目</a></li>
            <li><a href="/about/">关于海外</a></li>
          </ul>
        </div>
        {% if user %}
        <div id="bm">
          <h2>内部信息</h2>
          <ul class="menu">
            <li><a href="/resource/">海外组资源</a></li>
            <li><a href="/download/">RFP下载</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
      {% block content %}
      {%endblock%}
    </div>
     <!-- /content -->
    
    <div class="clearfix"></div>
    <div id="footer">
      <div id="ftinner">
        <div class="ftlink fl">
          <p id="copyright">© 2008. All Rights Reserved. Power by <a href="/home/">Dian Overseas.</a><br/>
            Designed by <a href="http://www.free-css-templates.com/">Free CSS Templates</a>, Thanks to <a href="http://www.injuryexperts.com/">Personal Injury Attorney</a></p>
        </div>
      </div>
    </div>
    <!-- /footer -->
</div>
</body>
</html>
