{% extends "basic.html" %}

{% block content %}
	<div class="main fr">
		{% if project %}
		<h2>项目详细</h2>
        <div class="text">
	        <div class="news">
	        	<h3>{{ project.name }}</h3>
	        	<div class="date">开始时间:&nbsp;{{ project.start_time|date:"Y-m-d H:i" }}</div>
	        	<div class="date">结束时间:&nbsp;{{ project.end_time|date:"Y-m-d H:i" }}</div>
	        	项目负责人： {{ project.duty_person }}<br>
	        	项目状态： {{ state }}<br>
	        	项目来源： {{ project.source }}<br>
	        	项目类型： {{ type }}<br>
	        	项目金额： {{ project.fund }} $<br>
	        	项目描述： {{ project.description }}<br>
          	</div>
        </div>
        {% endif %}
        
        <h2>{{ title }}</h2>
        <div class="text">
        {% for pro in projects %}
      		<div class="list"><a href="/project/{{ pro.id }}/">{{ pro.name }}</a> </div>
      	{% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}