{% extends "basic.html" %}

{% block content %}
<div class="main fr">
	<h2>海外组资源信息</h2>
	<div class="text">
		{% for re in resource %}
		<div class="list">{{ re.name }}: {{ re.value }}
			{% if user.is_admin%}
			<a href="/admin/home/resource/{{ re.id }}/">编辑</a> 
			<a href="/admin/home/resource/{{ re.id }}/delete/">删除</a><br>
			{% endif %}
		</div>
		{% endfor %}
		{% if user.is_admin%}
		<a href="/admin/home/resource/add/">增加资源信息</a>
		{% endif %}
	</div>
</div>
{% endblock%}